﻿{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spektraris NMR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,greek" rel='stylesheet' type='text/css'>
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <script type="text/javascript" src="{% static "jquery-2.0.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <link href="{% static "base.css" %}" rel="stylesheet" media="screen">
        <style>
            body { background: url("{% static "media/white_wall_hash.png" %}") repeat scroll 0% 0% transparent; }
        </style>
        {% block header %}
        {% endblock %}
    </head>
    <body>
        <div id="body_content" class="container">
            <div id="header">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Spektraris NMR</h1>
                    </div>
                </div>
                <ul class="nav nav-pills nav-justified" id="mgr_main_main_menu_bar">
                    <li class= "{% if "Home" in page %} active {% endif %}"><a href="{% url "nmr.views.home"%}">Home</a></li>
                    <li class= "{% if "Search" in page %} active {% endif %}"><a href="{% url "nmr.views.search"%}">Search</a></li>
                    <li class= "{% if "Browse" in page %} active {% endif %}"><a href="{% url "nmr.views.browse"%}">Browse</a></li>
                    <li class= "{% if "Downloads" in page %} active {% endif %}"><a href="{% url "nmr.views.downloads"%}">Downloads</a></li>
                    <li class= "{% if "Submit" in page %} active {% endif %}"><a href="{% url "nmr.views.submit"%}">Submit</a></li>
                    <li class= "{% if "Help" in page %} active {% endif %}"><a href="{% url "nmr.views.help"%}">Help</a></li>
                </ul>
            </div>
            {% block main_area %}
            {% endblock %}
            <div id="footer">
                <div class="row">
                    <div class="col-md-12">
                    <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static "wsu_logo.png" %}" alt="WSU logo" id="wsu_logo"/>
                    </div>
                    <div class="col-md-3">
                        Copyright © {{ year }}
                    </div>
                    <div class="col-md-6">
                        The Spektraris NMR database is developed and hosted by the Lange laboratory at WSU. CAS Registry Number is a Registered Trademark of the American Chemical Society.
                    </div>
                </div>
            </div>
        </div>
    </body>
{% block after_body %}
{% endblock %}
</html>