{% extends 'nmr/base.html' %}
{% load staticfiles %}
{% block main_area %}
<script type="text/javascript" src="{% static "browse_scripts.js" %}"></script>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li> 
      <a href="?page={{previous_pages}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page_link_num in page_navigator %}
        <li {% if page_link_num == page_num %} class="active" {% endif %}>
            <a href="?page={{page_link_num}}">{{page_link_num}}</a>
        </li>
    {% endfor %}
    <li>
      <a href="?page={{next_pages}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      <br />
      <input type="text" style="width:50px" value="{{page_num}}" id="input"placeholder="Go to page"> 
      <button type="button" id="button">Go to page</button>
    </li>
  </ul>
</nav>
<div id="search_results_table_div" class="panel panel-default">
    <div class="panel-heading">
        <h3>All Compounds in Database</h3>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
            <th>Record<a href="?sort=rec&dir=lh&page={{page_num}}">&#9660;</a><a href="?sort=rec&dir=hl&page={{page_num}}">&#9650;</a></th>
            <th>Name<a href="?sort=name&dir=lh&page={{page_num}}">&#9660;</a><a href="?sort=name&dir=hl&page={{page_num}}">&#9650;</a></th>
            <th>Formula<a href="?sort=formula&dir=lh&page={{page_num}}">&#9660;</a><a href="?sort=formula&dir=hl&page={{page_num}}">&#9650;</a></th>
            <th>Exact Mass<a href="?sort=mass&dir=lh&page={{page_num}}">&#9660;</a><a href="?sort=mass&dir=hl&page={{page_num}}">&#9650;</a></th>
            <th>InChIKey<a href="?sort=inchi&dir=lh&page={{page_num}}">&#9660;</a><a href="?sort=inchi&dir=hl&page={{page_num}}">&#9650;</a></th>
            <th>Proton NMR<a href="?sort=prot&dir=hl&page={{page_num}}">&#9660;</a><a href="?sort=prot&dir=lh&page={{page_num}}">&#9650;</a></th>
            <th>Carbon NMR<a href="?sort=carb&dir=hl&page={{page_num}}">&#9660;</a><a href="?sort=carb&dir=lh&page={{page_num}}">&#9650;</a></th>
            </tr>
        </thead>
        <tbody>
        {% for record in records %}
                <tr class="browse_compound_number results_table_row">
                
                <td>
                    <a class="browse_compound_number" href="{% url "nmr.views.record" record.lab_num|stringformat:"s" %}">{{record.lab_num}}</a>
                    <img class="browse_compound_image" height=200 src="{% static "nmr/svg/"%}{{record.lab_num}}.svg" alt="{{record.common_name}}">
                </td>
                <td>
                    <a class="browse_compound_number" href="{% url "nmr.views.record" record.lab_num|stringformat:"s" %}">{{record.common_name}}</a>
                    <img class="browse_compound_image" height=200 src="{% static "nmr/svg/"%}{{record.lab_num}}.svg" alt="{{record.common_name}}">
                </td>
                <td>{{record.formula}}</td>
                <td>{{record.exact_mass|floatformat:3}}</td>
                <td>{{record.inchi_key}}</td>
                <td>{% if record.proton_peaks > 0 %} Yes {% else %} No {% endif %}</td>
                <td>{% if record.carbon_peaks > 0 %} Yes {% else %} No {% endif %}</td>
                </tr>
                
        {% endfor %}
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li> 
      <a href="?page={{previous_pages}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page_link_num in page_navigator %}
        <li {% if page_link_num == page_num %} class="active" {% endif %}>
            <a href="?page={{page_link_num}}">{{page_link_num}}</a>
        </li>
    {% endfor %}
    <li>
      <a href="?page={{next_pages}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
