{% extends 'nmr/base.html' %}
{% load staticfiles %}
{% block main_area %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Downloads and Links</h4></div>
        <table class="table">
        <thead>
            <tr>
                <th>File</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td><a href="{% static "downloads/database_flatfiles.zip" %}">Database flat files</a></td>
                    <td><p>All of the compound data and spectra from this website, condensed into a convenient set of tab separated text files.</p></td>
                </tr>
                <tr>
                    <td><a href="{% static "downloads/taxane_nmr_spectra.zip" %}">Complete Spectra</a></td>
                    <td><p>Varian FID, JCAMP-DX, and nmrML files for NMR spectra of Taxol, 2-deacetyl baccatin IV, Baccatin III, N-Acetyl-N-debenzoyltaxol, 13-Acetyl-9-dihydrobaccatin III, baccatin IV, Taxol D, Taxol B, and Taxol C.</p></td>
                </tr>
                <tr>
                    <td><a href="https://bitbucket.org/seanrjohnson/taxane_nmr/src">Source code</a></td>
                    <td><p>A link to the source code for this very website. The website was built using Python 3.3 and Django 1.6, with a few additional dependencies.</p></td>
                </tr>
                <tr>
                    <td><a href="">LC-MS data</a></td>
                    <td><p>Coming soon! LC retention times and MS and MS<sup>2</sup> spectra for a selected subset of taxanes.</p></td>
                </tr>
        </tbody>
        </table>
    </div>
</div>
{% endblock %}