{% extends 'nmr/base.html' %}
{% load staticfiles %}

{% block main_area %}
<h3>Searching</h3>
<p>The Spektraris Taxane NMR database can be searched on the basis of exact mass, formula, proton, or carbon NMR spectra, or any combination of the above. A search with just spectral data usually takes about 10-15 seconds, but the speed can be substantially improved by including exact mass or formula as search criteria.
</p>
<p>
Multiple exact masses and formulas can be entered, separated by the semicolon ";" character.
</p>

<p>
There are two ways to score peak alignments. The "Pure" option assumes you are entering the spectrum of a pure compound and the score is 100 times the number of matched shifts divided by either the number of shifts in the query spectrum, or in the target spectrum, whichever is larger. "Mixture" assumes you are entering the spectrum of a mixture and the score is 100 times the number of matched shifts divided by the number of shifts in the target spectrum.
</p>

<p>
Every line in a proton spectrum consists of one to three fields, separated by tabs or pipe ( | ) characters. The three fields, in order, are: chemical shift (ppm), peak type, and coupling constants (<i>J</i> in Hz). Entering chemical shift is minimal requirement before entering in optional peak type or coupling constant data.  Peak types are described using standard NMR peak type notation (s, d, dd, ddd, t, q, septet, sextet, heptet, etc.). Note that in database entries some peaks are described as broad using the abbreviation br. Designations of br will not be used in searching, and will be ignored in input. When multiple coupling constants are entered they should be separated by commas (example: 11.3, 5.1). Carbon NMR data can only be searched by chemical shift.   
</p>

<p>
We find that the easiest way to enter spectra data is to first make a table in a spreadsheet program, and then copy and paste it into the appropriate box with chemical shift, peak type, and coupling constants in different columns in that order.
</p>

<p>
To view example input press the "Example" button on the Search page.
</p>

<h3>Notes on compound datasheet</h3>
<p>
When two references appear in compound data sheet the first reference contains proton data while the second reference contains carbon. When two different solvents were used for proton and carbon NMR proton is listed first followed by carbon. MHz is quoted for proton NMR. 
</p>
<p>
Where possible, for taxane structures, the numbering of atoms in the peak assignment tables is according to the conventional taxane numbering scheme (see image below). The convention applies only to the core diterpene structure, for additional side chains there is no numbering convention, so assignment numbering is not as systematic.
</p>
<img width=250 src="{% static "media/6_8_6_ring_taxane template.png" %}" alt="taxane ring numbering scheme">

<h3>Contact</h3>
<p>
<a  href="mailto:lange-m@wsu.edu">Mark Lange</a>: Project lead
</p>
<p>
<a href="mailto:seanrjohnson@vetmed.wsu.edu">Sean Johnson</a>: Developer and web master
</p>
{% endblock %}