{% extends 'nmr/base.html' %}
{% block main_area %}
<p>
Welcome to the Spektraris NMR database: a searchable collection of proton and carbon NMR spectra currently focusing on diterpenoid natural products related to the important drug paclitaxel. The more than 400 spectra from more than 200 compounds in this database were manually transcribed from the literature. You use the database as a tool to aid structure elucidation by searching spectra of unknown taxanes.
</p>

<p>
Many of the spectra are currently, or will soon be available on <a href="http://nmrshiftdb.nmr.uni-koeln.de/">NMRShiftDB</a>, so you can also search for unknown taxane spectra there.
</p>

<p>
Reference: <a href="http://www.ncbi.nlm.nih.gov/pubmed/25534952">Fischedick et al. 2015</a>
</p>
{% endblock %}
