{% extends 'nmr/base.html' %}
{% load staticfiles %}
{% block header %}
{% endblock %}
{% block main_area %}
{% if error %}
<h3>{{error}}</h3>
{% elif record%}
<h3>{{record.common_name}}</h3>
<div class="row">
    <div class="col-md-6">
        <div height=350 class="thumbnail">
            <img height=350 src="{% static "nmr/svg/"|add:record.lab_num|add:".svg" %}" alt="{{record.common_name}}">
        </div>
    </div>
    <div class="col-md-6">
        <p><b>Common Name:</b> {{record.common_name}}</p>
        <p><b>Synonyms:</b> {{record.synonym}}</p>
        <p><b>CAS Registry Number:</b> {{record.CAS_num}}</p>
        <p><b>InChI:</b> {{record.inchi_standard}}</p>
        <p><b>InChIKey:</b> {{record.inchi_key}}</p>
        <p><b>Formula:</b> {{record.formula}}</p>
        <p><b>Molecular Weight:</b> {{record.molecular_weight}}</p>
        <p><b>Exact Mass:</b> {{record.exact_mass}}</p>
        <p><b>NMR Solvent:</b> {{record.nmr_solvent}}</p>
        <p><b>MHz:</b> {{record.mhz}}</p>
        <p><b>Calibration:</b> {{record.calibration}}</p>
        <p><b>NMR references:</b> {{record.split_references|safe}}</p>
        <p><b>Species:</b> {{record.species}}</p>
        <p><b>Notes:</b> {{record.notes}}</p>
    </div>
</div>
<div class="row">
    {% if proton_table %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Proton NMR Peaks</h4>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                    <th>Position</th>
                    <th>PPM</th>
                    <th>Peak Type</th>
                    <th>J (Hz)</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in proton_table %}
                    <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.ppm}}</td>
                    <td>{{i.peak_type}}</td>
                    <td>{{i.j}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if carbon_table %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Carbon NMR Peaks</h4>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                    <th>Position</th>
                    <th>PPM</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in carbon_table %}
                    <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.ppm}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
<br>
{% else %}
<p>Server Error: we apologize for the inconvenience. </p>

{% endif %}
{% endblock %}