{% extends 'nmr/base.html' %}
{% load staticfiles %}
{% block header %}
    {% if status == "query" %}
        <meta http-equiv="refresh" content="{{reload_interval}}" >
    {% endif %}
    
{% endblock %}
{% block main_area %}
    {% if status == "result" %}
        {% if result_errors|length > 0 %}
            <div class="bg-danger">
                <h3>Search Errors</h3>
                <ul>
                    {% for err in result_errors %}
                    <li>{{err}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div id="search_results_table_div" class="panel panel-default">
            <div class="panel-heading">
                <h3>Search Results</h3>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                    <th></th>
                    <th></th>
                    <th>Name</th>
                    <th>Formula</th>
                    <th>Exact Mass</th>
                    <th>Avg Score <a href="?sort=avg"><span class="caret"></span></a></th>
                    <th>Proton Score <a href="?sort=prot"><span class="caret"></span></a></th>
                    <th>Carbon Score <a href="?sort=carb"><span class="caret"></span></a></th>
                    <th>Mass Score <a href="?sort=mass"><span class="caret"></span></a></th>
                    <th colspan=2>Alignment</th>
                    </tr>
                </thead>
                <tbody>
                {% for hit in result_data %}
                    {% if forloop.counter <= max_hits %}
                        <tr class="results_table_row">
                        <td><big><b><a href="{% url "nmr.views.record" hit.lab_num %}">{{forloop.counter}}</a></b></big></td>
                        <td><a href="{% url "nmr.views.record" hit.lab_num %}"><img height=150 src="{% static "nmr/svg/"|add:hit.lab_num|add:".svg" %}" alt="{{hit.common_name}}"></a></td>
                        <td><a href="{% url "nmr.views.record" hit.lab_num %}">{{hit.common_name}}</a></td>
                        <td>{{hit.formula}}</td>
                        <td>{{hit.exact_mass|floatformat:3}}</td>
                        <td>{{hit.score|floatformat:2}}</td>
                        <td>{% if hit.proton_score %}{{hit.proton_score|floatformat:2}}{% endif %}</td>
                        <td>{% if hit.carbon_score %} {{hit.carbon_score|floatformat:2}}{% endif %}</td>
                        <td>{% if hit.exact_mass_score %}{{hit.exact_mass_score|floatformat:2}}{% endif %}</td>
                        <td>{% if hit.proton_assignment|length > 0 %}<button type="button" id='nmr_results_proton_button_{{forloop.counter}}' class="btn btn-default btn-xs" onclick="$('#nmr_results_proton_table_{{forloop.counter}}').toggle(); $('#nmr_results_proton_button_{{forloop.counter}}').toggleClass('active')">Proton</button>{% endif %}</td>
                        <td>{% if hit.carbon_assignment|length > 0 %}<button id='nmr_results_carbon_button_{{forloop.counter}}' type="button" class="btn btn-default btn-xs" onclick="$('#nmr_results_carbon_table_{{forloop.counter}}').toggle(); $('#nmr_results_carbon_button_{{forloop.counter}}').toggleClass('active')">Carbon</button>{% endif %}</td>
                        </tr>
                        <tr style="" >
                        <td colspan=8 class="nmr_results_shift_tr">
                        {% if hit.proton_assignment|length > 0 %}
                        
                        <div class="nmr_results_shift_div" style="float: left; display: None;" id="nmr_results_proton_table_{{forloop.counter}}">
                            <h4>Proton NMR Alignment</h4>
                            <table id="proton_table_{{forloop.counter}}" class="table table-condensed table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th data-sort="string"><a>Position<span class="caret"></span></a></th>
                                        <th data-sort="float"><a>ppm<span class="caret"></span></a></th>
                                        <th data-sort="float"><a>Query ppm<span class="caret"></span></a></th>
                                        <th data-sort="float"><a>Distance<span class="caret"></span></a></th>
                                        <th data-sort="string"><a>Type<span class="caret"></span></a></th>
                                        <th data-sort="string"><a>Query Type<span class="caret"></span></a></th>
                                        <th data-sort="string"><a>J<span class="caret"></span></a></th>
                                        <th data-sort="string"><a>Query J<span class="caret"></span></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for peak in hit.proton_assignment %}
                                    <tr>
                                        <td>{{peak.position}}</td>
                                        <td>{{peak.database_ppm}}</td>
                                        <td>{{peak.query_ppm}}</td>
                                        <td>{% if peak.query_ppm %}{{peak.distance}}{% endif %}</td>
                                        <td>{{peak.database_type}}</td>
                                        <td>{% if peak.query_ppm %}{{peak.query_type}}{% endif %}</td>
                                        <td>{{peak.database_j}}</td>
                                        <td>{% if peak.query_ppm %}{{peak.query_j}}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Unmatched query proton shifts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ hit.proton_unmatched|join:", " }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        {% if hit.carbon_assignment|length > 0 %}                    
                        <div class="nmr_results_shift_div" style="float: left; display: None;" id="nmr_results_carbon_table_{{forloop.counter}}">
                            <h4>Carbon NMR Alignment</h4>
                            <table id="carbon_table_{{forloop.counter}}" class="table table-condensed table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th data-sort="string"><a>Position<span class="caret"></span></a></th>
                                        <th data-sort="float"><a>ppm<span class="caret"></span></a></th>
                                        <th data-sort="float"><a>Query ppm<span class="caret"></span></a></th>
                                        <th data-sort="float"><a>Distance<span class="caret"></span></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for peak in hit.carbon_assignment %}
                                    <tr>
                                        <td>{{peak.position}}</td>
                                        <td>{{peak.database_ppm}}</td>
                                        <td>{{peak.query_ppm}}</td>
                                        <td>{% if peak.query_ppm %}{{peak.distance}}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Unmatched query carbon shifts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ hit.carbon_unmatched|join:", " }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% elif status == "query" %}
        
        <big><p> Results not ready yet, page will refresh in {{reload_interval}} seconds </p></big>
        
    {% else %}
    
        <big><p> Error, query not found</p></big>
    
    {% endif %}

{% endblock %}

{% block after_body %}
<script type="text/javascript" src="{% static "stupidtable.min.js" %}"></script>
<script type = 'text/javascript'>
{% for hit in result_data %}
    {% if hit.proton_assignment|length > 0 %} $("#proton_table_{{forloop.counter}}").stupidtable(); {% endif %}
    {% if hit.carbon_assignment|length > 0 %} $("#carbon_table_{{forloop.counter}}").stupidtable(); {% endif %}
{% endfor %}
</script>
{% endblock %}
