{% extends 'nmr/base.html' %}
{% block main_area %}
    {% if error %}
        <h4>{{error}}</h4>
    {% endif %}

<form method="POST" action="" class="form-horizontal" role="form" id="nmr_search_form">
  {% csrf_token %}
    <div class="form-super-group">
        <div class="form-super-group {% if form.name.errors %}has-error{%endif%}">
            <div class="form-group">
                <label for="id_name" class="col-sm-2 control-label">{{ form.name.label}}</label>
                <div class="col-sm-2">
                    {{ form.name }}
                </div>
                <div class="col-sm-8">
                    <ul class="list-inline">
                    {% for error in form.name.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group {% if form.exact_mass.errors %}has-error{%endif%}">

            <label for="id_exact_mass" class="col-sm-2 control-label">{{ form.exact_mass.label}}</label>
            <div class="col-sm-2">
                {{ form.exact_mass }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.exact_mass.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.exact_mass_tolerance.errors %}has-error{%endif%}">
            <label for="id_exact_mass_tolerance" class="col-sm-2 control-label">Tolerance</label>
            <div class="col-sm-2">
                {{ form.exact_mass_tolerance }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.exact_mass_tolerance.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group {% if form.chemical_formula.errors %}has-error{%endif%}">
        <div class="form-group">
            <label for="id_chemical_formula" class="col-sm-2 control-label">{{ form.chemical_formula.label}}</label>
            <div class="col-sm-2">
                {{ form.chemical_formula }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.chemical_formula.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group {% if form.proton_shift_tolerance.errors %}has-error{%endif%}">
        <div class="form-group">
            <label for="id_proton_shift_tolerance" class="col-sm-2 control-label">{{ form.proton_shift_tolerance.label}}</label>
            <div class="col-sm-2">
                {{ form.proton_shift_tolerance }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.proton_shift_tolerance.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group {% if form.carbon_shift_tolerance.errors %}has-error{%endif%}">
        <div class="form-group">
            <label for="id_carbon_shift_tolerance" class="col-sm-2 control-label">{{ form.carbon_shift_tolerance.label}}</label>
            <div class="col-sm-2">
                {{ form.carbon_shift_tolerance }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.carbon_shift_tolerance.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group {% if form.coupling_constant_tolerance.errors %}has-error{%endif%}">
        <div class="form-group">
            <label for="id_coupling_constant_tolerance" class="col-sm-2 control-label">{{ form.coupling_constant_tolerance.label}}</label>
            <div class="col-sm-2">
                {{ form.coupling_constant_tolerance }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.coupling_constant_tolerance.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group {% if form.alignment_scoring.errors %}has-error{%endif%}">
        <div class="form-group">
            <label for="id_alignment_scoring" class="col-sm-2 control-label">{{ form.alignment_scoring.label}}</label>
            <div class="col-sm-2">
                {{ form.alignment_scoring }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.alignment_scoring.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group {% if form.proton_nmr.errors %}has-error{%endif%}">
        <div class="form-group">
            <label for="id_proton_nmr" class="col-sm-2 control-label">{{ form.proton_nmr.label}}</label>
            <div class="col-sm-4">
                {{ form.proton_nmr }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.proton_nmr.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group {% if form.carbon_nmr.errors %}has-error{%endif%}">
        <div class="form-group">
            <label for="id_carbon_nmr" class="col-sm-2 control-label">{{ form.carbon_nmr.label}}</label>
            <div class="col-sm-4">
                {{ form.carbon_nmr }}
            </div>
            <div class="col-sm-8">
                <ul class="list-inline">
                {% for error in form.carbon_nmr.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            <button id="nmr_search_example_button" type="button" class="btn btn-default">Example</button>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    </div>
</form>
{% endblock %}

{% block after_body %}
<script type = 'text/javascript'>
    var example_input = {{example_fields|safe}};
    
    $("#nmr_search_example_button").click(function() {
        for (var k in example_input) {
            $(k).val(example_input[k]);
        }
    });
</script>
{% endblock %}
