{% extends 'nmr/base.html' %}
{% block main_area %}
<h3>Submit Spectra</h3>
<p>
To submit a compound for inclusion in the database, simply fill out this form, and click submit. The format of the spectral data should be similar to as the format in the search form, except that the first column should have peak name, and the other columns will be shifted one to the left. The information will be sent to an administrator for review. If you are submitting spectra to Spektraris, consider also submitting them to <a href="http://nmrshiftdb.nmr.uni-koeln.de/">NMRShiftDB</a>.
</p>
<hr />
<form method="POST" action="" class="form-horizontal" role="form" id="nmr_search_form">
  {% csrf_token %}
    <div class="form-super-group">
        <div class="form-group {% if form.submitter_name.errors or form.submitter_email.errors %}has-error{%endif%}">
            <label for="id_submitter_name" class="col-sm-2 control-label">{{ form.submitter_name.label}}</label>
            <div class="col-sm-2">
                {{ form.submitter_name }}
            </div>
            <div class="col-sm-3">
            {{form.submitter_name.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.submitter_name.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.submitter_email.errors or form.submitter_email.errors %}has-error{%endif%}">
            <label for="id_submitter_email" class="col-sm-2 control-label">{{ form.submitter_email.label}}</label>
            <div class="col-sm-2">
                {{ form.submitter_email }}
            </div>
            <div class="col-sm-3">
            {{form.submitter_email.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.submitter_email.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group">
        <div class="form-group {% if form.common_name.errors or form.submitter_email.errors %}has-error{%endif%}">
            <label for="id_common_name" class="col-sm-2 control-label">{{ form.common_name.label}}</label>
            <div class="col-sm-2">
                {{ form.common_name }}
            </div>
            <div class="col-sm-3">
            {{form.common_name.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.common_name.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.synonym.errors or form.synonym.errors %}has-error{%endif%}">
            <label for="id_synonym" class="col-sm-2 control-label">{{ form.synonym.label}}</label>
            <div class="col-sm-2">
                {{ form.synonym }}
            </div>
            <div class="col-sm-3">
            {{form.synonym.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.synonym.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.inchi.errors or form.inchi.errors %}has-error{%endif%}">
            <label for="id_inchi" class="col-sm-2 control-label">{{ form.inchi.label}}</label>
            <div class="col-sm-2">
                {{ form.inchi }}
            </div>
            <div class="col-sm-3">
            {{form.inchi.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.inchi.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.formula.errors or form.formula.errors %}has-error{%endif%}">
            <label for="id_formula" class="col-sm-2 control-label">{{ form.formula.label}}</label>
            <div class="col-sm-2">
                {{ form.formula }}
            </div>
            <div class="col-sm-3">
            {{form.formula.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.formula.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.nmr_references.errors or form.nmr_references.errors %}has-error{%endif%}">
            <label for="id_nmr_references" class="col-sm-2 control-label">{{ form.nmr_references.label}}</label>
            <div class="col-sm-2">
                {{ form.nmr_references }}
            </div>
            <div class="col-sm-3">
            {{form.nmr_references.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.nmr_references.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.nmr_solvent.errors or form.nmr_solvent.errors %}has-error{%endif%}">
            <label for="id_nmr_solvent" class="col-sm-2 control-label">{{ form.nmr_solvent.label}}</label>
            <div class="col-sm-2">
                {{ form.nmr_solvent }}
            </div>
            <div class="col-sm-3">
            {{form.nmr_solvent.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.nmr_solvent.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.mhz.errors or form.mhz.errors %}has-error{%endif%}">
            <label for="id_mhz" class="col-sm-2 control-label">{{ form.mhz.label}}</label>
            <div class="col-sm-2">
                {{ form.mhz }}
            </div>
            <div class="col-sm-3">
            {{form.mhz.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.mhz.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group {% if form.calibration.errors or form.calibration.errors %}has-error{%endif%}">
            <label for="id_calibration" class="col-sm-2 control-label">{{ form.calibration.label}}</label>
            <div class="col-sm-2">
                {{ form.calibration }}
            </div>
            <div class="col-sm-3">
            {{form.calibration.help_text}}
            </div>
            <div class="col-sm-3">
                <ul class="list-inline">
                {% for error in form.calibration.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group">
        <div class="form-group {% if form.notes.errors or form.submitter_email.errors %}has-error{%endif%}">
            <label for="id_notes" class="col-sm-2 control-label">{{ form.notes.label}}</label>
            <div class="col-sm-4">
                {{ form.notes }}
            </div>
            <div class="col-sm-2">
            {{form.notes.help_text}}
            </div>
            <div class="col-sm-2">
                <ul class="list-inline">
                {% for error in form.notes.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group">
        <div class="form-group {% if form.proton_spectrum.errors or form.submitter_email.errors %}has-error{%endif%}">
            <label for="id_proton_spectrum" class="col-sm-2 control-label">{{ form.proton_spectrum.label}}</label>
            <div class="col-sm-4">
                {{ form.proton_spectrum }}
            </div>
            <div class="col-sm-2">
            {{form.proton_spectrum.help_text}}
            </div>
            <div class="col-sm-2">
                <ul class="list-inline">
                {% for error in form.proton_spectrum.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-super-group">
        <div class="form-group {% if form.carbon_spectrum.errors or form.submitter_email.errors %}has-error{%endif%}">
            <label for="id_carbon_spectrum" class="col-sm-2 control-label">{{ form.carbon_spectrum.label}}</label>
            <div class="col-sm-4">
                {{ form.carbon_spectrum }}
            </div>
            <div class="col-sm-2">
            {{form.carbon_spectrum.help_text}}
            </div>
            <div class="col-sm-2">
                <ul class="list-inline">
                {% for error in form.carbon_spectrum.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

{% endblock %}