{% extends 'nmr/base.html' %}
{% block main_area %}
<h3>Thank you for your submission!</h3>
<p>
If it is not added to the database in a timely fashion, don't hesitate to send a nagging email to one of the contacts listed on the "Help" page.
</p>

{% endblock %}