#body_content {
	/*max-width: 1000px;*/
	margin-left:auto;
	margin-right:auto;
}

.nav-pills li {
	font-size: 16px;
}

.panel {
	box-shadow: none;
}

hr {
	border-color: rgb(200, 200, 200);
	border-width: 2px 0px 0px;
}

.panel-default > .panel-heading {
	background-color: rgb(225, 220, 220);
}

/* I'd love to put a rounded edge on it too, but I can't figure it out */
.table_wrapper {
    border: 1px solid rgb(221, 221, 221);
	margin-bottom: 20px;
}

.results_table_row  > td {
	vertical-align:middle !important;
}

.nmr_results_shift_div {
	padding:10px;
}

.nmr_results_shift_tr {
	padding:0px !important;
	border-width: 0px 0px 0px 0px !important;
}

#search_results_table_div {

	min-width: 1000px;
}

#nmr_search_form {
	margin-top: 10px;
}

.form-group {
	#margin-bottom: 5px;
}

.form-super-group {
	margin-bottom: 20px;
}

.browse_compound_number:hover + .browse_compound_image{
  display: block;
}
.browse_compound_image {
  display: none;
  z-index: +3;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
